body {
	margin: 0;
	padding-top: 70px; 
}

.topnav {
	overflow: hidden;
	background-color: #555;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a:focus { 
	background-color: #999;
	border: 0;
}

.topnav .icon {
	display: none;
}

#form-container{
	width: 600px;
	margin:auto;
	min-height:70%;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
				  
	#form-container{
		width: 90%;
		margin:auto;
		min-height:70%;
	}

}

@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	
	#form-container{
		width: 90%;
		margin:auto;
		min-height:70%;
	}

}
				